.infiniteLoop {
    -webkit-animation-iteration-count: infinite!important;
    animation-iteration-count: infinite!important;
}

@keyframes goLeft {
    0% {
        left: 5%;
        bottom: -1%;
    }
    20% { bottom: 0;}
    100% {
        left: 10%;
        bottom: -2%;
    }
}

@keyframes rightText {
    0% {
        left: 60vh;
        bottom: 40%;
        opacity: 1;
        transform: rotate(-25deg);
    }
    50% {
        left: 60vh;
        bottom: 49%;
        opacity: 0.7;
        transform: rotate(-25deg);
    }
    100% {
        left: 60vh;
        bottom: 50%;
        opacity: 0;
        transform: rotate(-25deg);
    }
}

@media screen and (max-width: 480px) {
    @keyframes rightText {
        0% {
        right: 0;
        bottom: 15%;
        opacity: 1;
        transform: rotate(-25deg);
    }
    50% {
        right: 0;
        bottom: 23%;
        opacity: 0.7;
        transform: rotate(-25deg);
    }
    100% {
        right: 0;
        bottom: 24%;
        opacity: 0;
        transform: rotate(-25deg);
    }
    }
}

@keyframes fromBRight {
    0% {
        transform: scaleX(-1);
        right:  0;
        bottom: -15%;
    }

    100% {
        transform: scaleX(-1);
        right: 10%;
        bottom: 0%;
    }
}

@keyframes leftText {
    0% {
        transform: rotate(35deg) scale(0.5, 0.5);
        bottom: 40%;
        right: 20%;
        opacity: 1;
    }
    50% {
        bottom: 40%;
        right: 30%;
        transform: rotate(35deg) scale(1, 1);
        opacity: 0.7;
    }
    100% {
        bottom: 40%;
        right: 30%;
        transform: rotate(35deg) scale(1, 1);
        opacity: 0;
    }
}
@media screen and (max-width: 480px) {
    @keyframes leftText {
        0% {
            transform: rotate(35deg) scale(0.5, 0.5);
            bottom: 20%;
            left: 0;
            opacity: 1;
        }
        50% {
            bottom: 20%;
            left: 0;
            transform: rotate(35deg) scale(1, 1);
            opacity: 0.7;
        }
        100% {
            bottom: 20%;
            left: 0;
            transform: rotate(35deg) scale(1, 1);
            opacity: 0;
        }
    }
}

@keyframes topRight {
    0% {
        transform: rotate(-30deg) scaleX(-1);

        right:  -10%;
        top: -20%;
    }

    90% {
        transform: rotate(-30deg) scaleX(-1);

        right: 15%;
        top: -20%;
    }
    100% {
        transform: rotate(-30deg) scaleX(-1);

        right: 15%;
        top: -20%;
    }
}

@media screen and (max-width: 480px) {
    @keyframes topRight {
        0% {
            transform: rotate(-30deg) scaleX(-1);

            right:  -10%;
            top: -10%;
        }

        90% {
            transform: rotate(-30deg) scaleX(-1);

            right: 15%;
            top: -10%;
        }
        100% {
            transform: rotate(-30deg) scaleX(-1);

            right: 15%;
            top: -10%;
        }
    }

}

@keyframes stretchyWan {
    0% {
        top: 40%;
        left: 30%;
        transform: scale(2, 0.5)
    }

    50% {
        top: 50%;
        left: 30%;
        transform: scale(2, 3);
    }

    100% {
        top: 50%;
        left: 30%;
        transform: scale(2, 3);
    }
}

@keyframes backFlip {
    0% {
        -webkit-transform: scaleX(1) scaleY(-1);
        transform: scaleX(1) scaleY(-1);

        left: 80%;
        top: 0;
    }

    50% {
        -webkit-transform: scaleX(-1) scaleY(-1);
        transform: scaleX(-1) scaleY(-1);
        height: 120%;
        left: 0;
        top: -10%;
    }
    100% {
        -webkit-transform: scaleX(-1) scaleY(-1);
        transform: scaleX(-1) scaleY(-1);
        height: 120%;
        left: 0;
        top: -10%;
    }
}

@media screen and (max-width: 480px) {
    @keyframes backFlip {
        0% {
            -webkit-transform: scaleX(1) scaleY(-1);
            transform: scaleX(1) scaleY(-1);

            right: 0;
            top: 0;
        }

        50% {
            -webkit-transform: scaleX(-1) scaleY(-1);
            transform: scaleX(-1) scaleY(-1);
            width: 140%;
            left: -20%;
            top: 0;
        }
        100% {
            -webkit-transform: scaleX(-1) scaleY(-1);
            transform: scaleX(-1) scaleY(-1);
            width: 140%;
            left: -20%;
            top:0;
        }
    }
}

@keyframes fullScreen {
    0% {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        height: 100%;
        right: 50%;
    }

   30% {
       -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        height: 100%;
        right: 5%;
    }

    100% {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        height: 100%;
        right: 0;
    }
}

@media screen and (max-width: 480px) {
    @keyframes fullScreen {
        0% {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            width: 100%;
            top: 20%;
            right: 50%;
        }

        30% {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            top: 20%;
            width: 100%;
            right: 5%;
        }

        100% {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            top: 20%;
            width: 100%;
            right: 0;
        }
    }

}

/* Black bars */
@keyframes boxTop {
    0% {
        top: -40%;
    }
    80% {
        top: 0;
    }

    100% {
        top: 0;
    }
}

@keyframes boxBot {
    0% {
        bottom: -40%;
    }
    80% {
        bottom: -10%;
    }
    100% {
        bottom: -10%;
    }
}
/**/

@keyframes frontFlip {
    0% {
        bottom: 0;
        left: 0;
        height: 150%;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    50% {
        bottom: 0;
        left: 20%;
        height: 60%;
        -webkit-transform: scaleX(-1);
        transform: scaleX(1);
    }

    100% {
        bottom: 0;
        left: 20%;
        height: 60%;
        -webkit-transform: scaleX(-1);
        transform: scaleX(1);
    }
}

@media screen and (max-width: 480px) {
    @keyframes frontFlip {
        0% {
            bottom:0;
            left: 0;
            width: 200%;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }

        50% {
            bottom: 0;
            left: 0;
            width: 60%;
            -webkit-transform: scaleX(-1);
            transform: scaleX(1);
        }

        100% {
            bottom: 0;
            left: 0;
            width: 60%;
            -webkit-transform: scaleX(-1);
            transform: scaleX(1);
        }
    }
}

@keyframes frontFlipAborted {
    0% {
        bottom: 0;
        left: 0;
        height: 150%;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    100% {
        bottom: 0;
        left: 20%;
        height: 60%;
        -webkit-transform: scaleX(0);
    }
}

@media screen and (max-width: 480px) {
    @keyframes frontFlipAborted {
        0% {
            bottom: 0;
            left: 0;
            width: 200%;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }

        100% {
            bottom: 0;
            left: 20%;
            width: 60%;
            -webkit-transform: scaleX(0);
        }
    }
}

/* Lots of keyfrems */
@keyframes shake {
    0% {
        height: 75%;
        bottom: -10%;
        left: 5%;
    }
    10% {
        height: 75%;
        bottom: -7%;
        left: 7%;
    }
    20% {
        height: 75%;
        bottom: -8%;
        left: 3%;
    }
    30% {
        height: 75%;
        bottom: -5%;
        left: 4%;
    }
    40% {
        height: 75%;
        bottom: -2%;
        left: 6%;
    }
    50% {
        height: 75%;
        bottom: -6%;
        left: 2%;
    }
    60% {
        height: 75%;
        bottom: 0;
        left: 5%;
    }
    70% {
        height: 75%;
        bottom: -4%;
        left: 7%;
    }
    80% {
        height: 75%;
        bottom: -2%;
        left: 3%;
    }
    90% {
        height: 75%;
        bottom: -8%;
        left: 7%;
    }
    100% {
        height: 75%;
        bottom: -4%;
        left: 5%;
    }
}

.cssload-loader {
    width: 60%;
    height: 20%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}
.cssload-loader .cssload-ball {
    width: 33px;
    height: 33px;
    background-color: rgb(214,81,88);
    border-radius: 50%;
    display: inline-block;
    animation: cssload-motion 2.55s cubic-bezier(0.77, 0, 0.175, 1) infinite;
        -webkit-animation: cssload-motion 2.55s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes cssload-motion {
    0% {
        transform: translateX(0) scale(1);
    }
    25% {
        transform: translateX(-81px) scale(0.3);
    }
    50% {
        transform: translateX(0) scale(1);
    }
    75% {
        transform: translateX(81px) scale(0.3);
    }
    100% {
        transform: translateX(0) scale(1);
    }
}

@-webkit-keyframes cssload-motion {
    0% {
        -webkit-transform: translateX(0) scale(1);
    }
    25% {
        -webkit-transform: translateX(-81px) scale(0.3);
    }
    50% {
        -webkit-transform: translateX(0) scale(1);
    }
    75% {
        -webkit-transform: translateX(81px) scale(0.3);
    }
    100% {
        -webkit-transform: translateX(0) scale(1);
    }
}

@media screen and (max-width: 480px) {
/* Lots of keyfrems */
@keyframes shake {
    0% {
        width: 100%;
        bottom: -10%;
        left: 5%;
    }
    10% {
        width: 100%;
        bottom: -7%;
        left: 7%;
    }
    20% {
        width: 100%;
        bottom: -8%;
        left: 3%;
    }
    30% {
        width: 100%;
        bottom: -5%;
        left: 4%;
    }
    40% {
        width: 100%;
        bottom: -2%;
        left: 6%;
    }
    50% {
        width: 100%;
        bottom: -6%;
        left: 2%;
    }
    60% {
        width: 100%;
        bottom: 0;
        left: 5%;
    }
    70% {
        width: 100%;
        bottom: -4%;
        left: 7%;
    }
    80% {
        width: 100%;
        bottom: -2%;
        left: 3%;
    }
    90% {
        width: 100%;
        bottom: -8%;
        left: 7%;
    }
    100% {
        width: 100%;
        bottom: -4%;
        left: 5%;
    }
}
}
