.infiniteLoop {
    -webkit-animation-iteration-count: infinite!important;
    animation-iteration-count: infinite!important;
}

.cssload-loader {
    width: 60%;
    height: 20%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

.cssload-loader .cssload-ball {
    width: 33px;
    height: 33px;
    background-color: rgb(214,81,88);
    border-radius: 50%;
    display: inline-block;
    animation: cssload-motion 2.55s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    -webkit-animation: cssload-motion 2.55s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

/* Go right from the bottom left */
.bottomLeft {
    bottom: -20px;
    left: 5%;
    -webkit-animation-name: bottomLeft;
    animation-name: bottomLeft;
}

/* Corresponding animation */
@-webkit-keyframes bottomLeft {
    0% {transform: translate3d(0, 0, 0);}
    20% {transform: translate3d(8%, -20px, 0);}
    100% {transform: translate3d(20%, 20px, 0);}
}
@keyframes bottomLeft {
    0% {transform: translate3d(0, 0, 0);}
    20% {transform: translate3d(8%, -20px, 0);}
    100% {transform: translate3d(20%, 20px, 0);}
}

/*Text affected by that anim */
.bottomLeftAnim + #wanText{

}

/* Corresponding animation */
@keyframes bLeftText {
}

/* Mobile media queries for this specific animation */
@media screen and (max-width: 480px) {
    @keyframes bLeftText {
    }
}

.bottomRight {
    bottom: -100px;
    right: 0;
    -webkit-animation-name: bottomRight;
    animation-name: bottomRight;
}

@-webkit-keyframes bottomRight {
    0% {transform: scaleX(-1) translate3d(0, 0, 0);}
    100% {transform: scaleX(-1) translate3d(30%, -100px, 0);}
}
@keyframes bottomRight {
    0% {transform: scaleX(-1) translate3d(0, 0, 0);}
    100% {transform: scaleX(-1) translate3d(30%, -100px, 0);}
}

.bottomRight + #wanText {
}

@keyframes bRightText {
}

@media screen and (max-width: 480px) {
}

.topRight {
    right: -10%;
    top: -20%;
    -webkit-animation-name: topRight;
    animation-name: topRight;
}

@-webkit-keyframes topRight {
    0% {transform: rotate(-30deg) scaleX(-1) translate3d(0, 0, 0);}
    100% {transform: rotate(-30deg) scaleX(-1) translate3d(80%, -40%, 0);}
}

@keyframes topRight {
    0% {transform: rotate(-30deg) scaleX(-1) translate3d(0, 0, 0);}
    100% {transform: rotate(-30deg) scaleX(-1) translate3d(80%, -40%, 0);}
}

.topRight + #wanText {
    
}

@keyframes topRightText {
}

@media screen and (max-width: 480px) {
}

.backFlip {
    
}

@keyframes backFlip {
}

@media screen and (max-width: 480px) {
}

@keyframes fullScreen {
}

@media screen and (max-width: 480px) {
}

/* Black bars */
@keyframes boxTop {
}

@keyframes boxBot {
}


@keyframes frontFlip {
}

@media screen and (max-width: 480px) {
}

@keyframes frontFlipAborted {
}

@media screen and (max-width: 480px) {
}

@keyframes shake {
}

@media screen and (max-width: 480px) {
}

@keyframes cssload-motion {
    0% {
        transform: translateX(0) scale(1);
    }
    25% {
        transform: translateX(-81px) scale(0.3);
    }
    50% {
        transform: translateX(0) scale(1);
    }
    75% {
        transform: translateX(81px) scale(0.3);
    }
    100% {
        transform: translateX(0) scale(1);
    }
}

@-webkit-keyframes cssload-motion {
    0% {
            -webkit-transform: translateX(0) scale(1);
    }
    25% {
            -webkit-transform: translateX(-81px) scale(0.3);
    }
    50% {
            -webkit-transform: translateX(0) scale(1);
    }
    75% {
            -webkit-transform: translateX(81px) scale(0.3);
    }
    100% {
            -webkit-transform: translateX(0) scale(1);
    }
}
