body {
    overflow: hidden;
}

/* Buttons for girls and about */
#footer-info {
    position:absolute;
    bottom:0;
    right: 0;
    padding: 4px;
    opacity: 0.6;
    z-index: 15;
}

#footer-info a {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    border: 2px solid #555555;
    padding: 2px;
    text-decoration: none;
}

#footer-info a:hover {
    background-color: #555555;
    color: white;
}

/* Wan text is invisible by default */
.wan_text {
    display: none;
    position: absolute;
    height: 15%;
    width: auto;
    transform: rotate(-25deg);
    z-index: 2;
}

@media screen and (max-width: 480px) {
    .wan_text {
        height: auto;
        width: 40%;
    }
}

/*The stretchy wan is just an empty div with wan as its background image!*/
#wanCenter {
    display: none;

    background: url(../res/wan_text.png) no-repeat center center;
    background-image: url(../res/wan_text.svg), none;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;

    position: absolute;

    left: 15%;
    top: 45%;
    height: 15%;
    width: 60%;
}

.box {
    background-color: black;
    position: absolute;
    left: 0;
    height: 40%;
    width: 100%;
    z-index: 3;
}

#topBox {
    top: -100%;
}

#botBox {
    bottom: -100%;
}
#wolfGirl {
    position: absolute;
    height: 60%;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;

    /* 3d animation for smoother animations */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

#wolfImg {
    display: block;
    height: 100%;
    width: auto;
}

@media screen and (max-width: 480px) {
    #wolfGirl {
        height: auto;
        width: 60%;
    }

    #wolfImg {
        height: auto;
        width: 100%;
    }
}
