@font-face {
	  font-family: 'BrushScriptStd';
	  src: url('./BrushScriptStd.eot');
	  src: local('BrushScriptStd'), url('./BrushScriptStd.woff') format('woff'), url('./BrushScriptStd.ttf') format('truetype');
}

body {
    overflow: hidden;
    background-color: white;
    -webkit-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
}

#loadingScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 100;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.loadingText {
    margin-top: 5px;
    color: rgb(214,81,88);
    font-size: 1.5em;
    font-weight: bold;
}

/* Buttons for girls and about */
#footer-info {
    position:absolute;
    bottom:0;
    right: 0;
    padding: 4px;
    opacity: 0.6;
    z-index: 15;
}

#footer-info a {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    border: 2px solid #555555;
    padding: 2px;
    text-decoration: none;
}

#footer-info a:hover {
    background-color: #555555;
    color: white;
}

/* Wan text is invisible by default */
#wanText {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-family: 'BrushScriptStd';
    display: none;
    position: absolute;
    font-size: 13vw;
    color: #4f2b2d;
    width: auto;
    z-index: 2;
    overflow: wrap;
    -webkit-animation-timing-function: cubic-bezier(.47,.77,.43,.98);
    animation-timing-function: cubic-bezier(.47,.77,.43,.98);
}

.box {
    background-color: black;
    position: absolute;
    left: 0;
    height: 40%;
    width: 100%;
    z-index: 5;
}

#topBox {
    top: -40%;
}

#botBox {
    bottom: -40%;
}

#wolfGirl {
    position: absolute;
    display: block;
    width: 35%;
    z-index: 1;
    -webkit-animation-timing-function: cubic-bezier(.47,.77,.43,.98);
    animation-timing-function: cubic-bezier(.47,.77,.43,.98);
}

#wolfImg {
    display: block;
    width: 100%;
    height: auto;
}
