#menuContainer {
    position: absolute;
    top:10px;
    left: 10px;
    width: 50%;
    height: auto;
    opacity: 0.3;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 20;
    background-color: white;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 10px;
    box-shadow: 2px 2px 3px #777;
}

#menuContainer:hover {
    opacity: 1;
}

.menu-hidden {
    display: none;
    opacity: 0;
}

.menu-flexbox {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

#menuContainer table {
    display: table;
    width: 100%;
}

#menuContainer table thead, #menuContainer table tbody {
    float: left;
    width: 100%;
}
#menuContainer table tbody {
    overflow: auto;
    height: 20%;
    height: 200px;
}
#menuContainer table tr {
    width: 100%;
    display: table;
    text-align: left;
    background-color: white;
}

#menuContainer table th, #menuContainer table td {
    text-align: left;
    padding: 4px;
    /* Change this value if we add another column! Needs to be (100 / columns)% */
    width: 50%;
}

#menuContainer table tr:nth-child(odd) {
    background-color: #FFD1D6;
}

#wolfTable {
    cursor: pointer;
}

#wolfTable tr:hover {
    background-color: #EB5757!important;
    color:white!important;
}

/* Overrides the rule above for the head */
#menuContainer table thead tr {
    background-color: #E63939!important;
    color: white;
}

.menuHeader {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.menuRow {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

#wolfSearch {
    margin-bottom: 10px;
    width: 40%;
    padding: 10px 10px 10px 42px;
    background-image: url('../res/search-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border: 3px solid #ddd;
    border-radius: 15px;
}

#wolfSearch:focus {
    border-color: #F26D7A;
}

#menuButton {
    cursor: pointer;
    opacity: 0.3;
    position:absolute;
    top: 20px;
    left: 20px;
    width: 32px;
    height: 32px;
    background-image: url('../res/menu-icon.png');
    z-index: 19;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#menuButton:hover {
    opacity: 1;
}

#menuQuit {
    cursor: pointer;
    opacity: 0.5;
    width: 32px;
    height: 32px;
    background-image: url('../res/quit-icon.png');
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#menuQuit:hover {
    opacity: 1;
}

#customUrlContainer {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

#customUrl {
    width: 70%;
    margin-right: 15px;
    padding: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border: 3px solid #ddd;
    border-radius: 15px;
}

#customUrl:focus {
    border-color: #F26D7A;
}

.submitButton {
    text-decoration: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: #F26D7A;
    cursor: pointer;
    border-radius: 3px;
}

.submitButton:hover {
    background-color: #EB5757;
}

@media screen and (max-width: 480px) {
    #menuContainer {
        left: 0;
        width: 90%;
        opacity: 0.7;
    }

    #wolfSearch {
        width: 70%
    }
}
