/* We really want this to display properly so people with bad browsers can reach the about page! */

#menuContainer {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

table.tableSection {
    display: table;
    width: 90%;
}

table.tableSection thead {
    background-color: #E63939;
    color: white;
}

table.tableSection thead, table.tableSection tbody {
    float: left;
    width: 100%;
}
table.tableSection tbody {
    overflow: auto;
    height: 20%;
    max-height: 250px;
}
table.tableSection tr {
    width: 100%;
    display: table;
    text-align: left;
}

table.tableSection th, table.tableSection td {
    text-align: left;
    padding: 4px;
    /* Change this value if we add another column! Needs to be (100 / columns)% */
    width: 50%;
}

table.tableSection td:hover {
    text-align: left;
    padding: 4px;
    /* Change this value if we add another column! Needs to be (100 / columns)% */
    width: 50%;
}


table.tableSection tr:nth-child(even) {
    background-color: #FFD1D6;
}

#wolfSearch {
    margin-top: 10px;
    width: 60%;
    padding: 10px 10px 10px 42px;
    background-image: url('search-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border: 3px solid #ddd;
    border-radius: 15px;
}

#wolfSearch:focus {
    border-color: #F26D7A;
}
